{% if site.data.news %}
<section class="news">
  <h2>News</h2>
  <ul>
  {% assign sticky_news = site.data.news | where_exp: "item", "item.sticky" | sort: "date" | reverse %}
  {% assign non_sticky_news = site.data.news | where_exp: "item", "item.sticky != true" | sort: "date" | reverse %}
  {% assign sorted_news = sticky_news | concat: non_sticky_news %}  
    
  {% for news_item in sorted_news limit: 5 %}
    <li{% if news_item.sticky %} class="sticky"{% endif %}>
      <span class="news-date">({{ news_item.date | date: "%b, %Y" }})</span>
      <span class="news-text">{{ news_item.text }}</span>
    </li>
  {% endfor %}
  </ul>
</section>
<style>
  .sticky .news-text {
    font-weight: bold;
  }
</style>
{% endif %}